<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mariotaku.imageviewergl"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="10"
		android:targetSdkVersion="17"/>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name">
		<activity
			android:name="org.mariotaku.gallery3d.app.ImageViewerGLActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:hardwareAccelerated="true"
			android:label="@string/app_name"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:mimeType="image/*"
					android:scheme="http"/>
				<data
					android:mimeType="image/*"
					android:scheme="https"/>
				<data
					android:mimeType="image/*"
					android:scheme="file"/>
			</intent-filter>
		</activity>
	</application>

</manifest>